.booklist{
    padding: 3rem 0;
    background-color: #f8f9fa;
}
.booklist-content{
    gap: 3rem;
}
.book-item{
    padding: 3rem 2rem;
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px 0px;
    transition: var(--transition);
}
.book-item:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.book-item-info{
    margin-top: 2rem;
}
.book-item-info-item.title{
    line-height: 1.4;
    margin-bottom: 1rem;
}
.book-item-info-item:not(.book-item-info-item.title) span:last-child{
    opacity: 0.8;
}
.addShelf-btn{
    margin-top: 1rem;
    border-radius: 10%;
}
@media screen and (max-width: 750px) {
    .booklist-content {
        grid-template-columns: repeat(1, 1fr);
    }
    .header-c {
        display: block;
        text-align: center;
        left: auto;
    }
    .btn-r {
        left: 45%;
    }
}

@media screen and (min-width: 750px) and (max-width: 899px) {
    .booklist-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 900px) {
    .booklist-content {
        grid-template-columns: repeat(3, 1fr);
    }
}
